@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body {
    font-family: "Montserrat";
    font-size: 15px;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 50px 0;
}

a {
    font-size: 20px;
    font-weight: 600;
    font-family: "Dm mono";
}

.project  {
    min-width: 500px;
    padding: 50px 0;
}

h2 a {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h4, h4 a, .card {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #f17b40;
}

.selected_lang, .lumino{
    font-size: 15px;
    font-family: "Dm mono";
    padding: 10px 15px;
    margin: 20px 0;
    letter-spacing: 2px;
    border: none;
}

.lumino {
    background-color: #f17b40;
    color: #fff;
    border: none;
}

p {
    font-size: 18px;
    font-weight: 300;
}

.grid-pres{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    place-items: center;
    margin: 100px 0;
}

.contact {
    border: 4px solid #cecece;
    padding: 50px;
    height: 250px;
    width: 250px;
    margin: 0 auto;

}

.contact h4 {
    margin: 0;
}



h5 {
    font-family: "Dm mono";
    font-size: 18px;
    font-weight: 500;
}

.grid-pres div {
    margin-right: 300px;
}

nav {
    border-top: 1px solid #cecece;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a {
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: blue;
}

.nav ul li a:hover{
    background-color: blue;
    color: #fff;
}

.nav div {
    text-align: right;
    padding: 10px 40px;
}

.project {
    display: grid;
}

.project img, .project div{
    margin: 0 auto;
    text-align: center;
}

.project div {
    padding: 0 400px;
}